.body {
	background-color: orange;
	margin: 0px;
	padding: 0px;
}

.title {
	color: red;
}

.uneaten {
	background-color: #e3e3e3;
	border-style: solid;
	border-width: 2px;
	border-color: #c4c3c3;
	margin: 2px 0px 2px 0px;
	padding: 1px;
}

.eaten {
	background-color: #868585;
	border-style: solid;
	border-width: 2px;
	border-color: #c4c3c3;
	margin: 2px 0px 2px 0px;
	padding: 1px;
	color: #c4c3c3;
}

.burger_field {
	width: 250px;
	height: 50px;
}